.mainFilters {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    padding: var(--size14) var(--size8) var(--size14) var(--size8);
    height: var(--size8);
    gap: var(--size9);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
    background-color: var(--backgroundColor);
    width: 100vw;
    box-shadow: 0 var(--size14) var(--size10) var(--shadowColor);
}

.mainFilters button{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-bottom: var(--size13) solid transparent;
    padding-bottom: var(--size12);
    gap: var(--size10);
    background-color: transparent;
    font-family: var(--mainFont);
    color: var(--grey);
    font-size: var(--size9);
    font-weight: 400;
}

.mainFilters p {
    color: var(--grey)
}

.mainFilters button.indexhighlitedFilter{
    border-bottom: var(--size13) solid var(--mainContainerColor);
    color: var(--black);
}

.mainFilters button.indexhighlitedFilter p {
    color: var(--mainContainerColor);
}

/* -- MEDIA QUERIES -- */

@media (max-aspect-ratio: 7/8) {
    .mainFilters {
        gap: var(--size13);
        padding: var(--size14) var(--size9) var(--size14) var(--size9);
    }
}